language: csharp 
solution: TimeManagementService.sln 
install: 
   - nuget restore TimeManagementService.sln 
   - nuget install NUnit.Runners -Version 2.6.4 -OutputDirectory testrunner 
script: 
  - xbuild /p:Configuration=Release TimeManagementService.sln 
  - mono ./testrunner/NUnit.Runners.2.6.4/tools/nunit-console.exe ./TimeManagementService.Test/bin/Release/TimeManagementService.Test.dll
deploy:
   provider: cloudfoundry
   api: https://api.beta.ironfoundry.me
   username: prabhu.p@verizon.com
   password: Prabhu
   organization: HackVeriDD
   space: development


